<div class="container">

  <h1>Current area of improvement</h1>

  <h3>Money Mastery</h3>

    <ol>
      <li>Choose a number to save.
        <ul>
          <li>This needs to come out of your income before you even see it.</li>
          <li>I'm doing 15%</li>
        </ul>
      </li>

    </ol>

  <h3>Scary Stats</h3>
    <ul>
      <li>The average American spends $1k per month on lottery tickets.</li>
    </ul>
</div>
