<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>If you see the world around you and wonder how it could be better. If you have been looking for a forum to discuss something bigger than the weather, popular sports teams or the terrible shit that is happening on the news. Then this just might be your new favorite site. Gimme a bookmark.</p>
  </div>
  <div class="sidebar-module">
    <h4>Archives</h4>
    <ol class="list-unstyled">
      <li><a href="#">October 2014</a></li>
    </ol>
  </div>
  <div class="sidebar-module">
    <h4>JPhoenix is on Social Media</h4>
    <ol class="list-unstyled">
      <li><a href="http://www.github.com/philmphoenix" target="_blank">GitHub</a></li>
      <li><a href="http://www.twitter.com/goskilltrade" target="_blank">Twitter</a></li>
      <li><a href="http://www.facebook.com/goskilltra.de" target="_blank">Facebook</a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->